In [1]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Importing all the required libraies 
import pandas as pd
import numpy as np

In [3]:
# Importing the dataset 
final_countries = pd.read_csv('C:/Users/sowmya.krishnan/Downloads/Country-data.csv')

In [4]:
final_countries['exports'] = final_countries['exports']*final_countries['gdpp']/100
final_countries['imports'] = final_countries['imports']*final_countries['gdpp']/100
final_countries['health'] = final_countries['health']*final_countries['gdpp']/100

In [5]:
final_countries.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.30,41.9174,248.297,1610,9.44,56.2,5.82,553
1,Albania,16.6,1145.20,267.8950,1987.740,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,1712.64,185.9820,1400.440,12900,16.10,76.5,2.89,4460
3,Angola,119.0,2199.19,100.6050,1514.370,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,5551.00,735.6600,7185.800,19100,1.44,76.8,2.13,12200

From the clustering process (taking approximate value of means for the variables in the original country dataset) we get the upper values for the below mentioned variables.

In [6]:
Final_2=final_countries[final_countries['gdpp']<=1700]
Final_2.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.3000,41.9174,248.297,1610,9.440,56.2,5.82,553
12,Bangladesh,49.4,121.2800,26.6816,165.244,2440,7.140,70.4,2.33,758
17,Benin,111.0,180.4040,31.0780,281.976,1820,0.885,61.8,5.36,758
25,Burkina Faso,116.0,110.4000,38.7550,170.200,1430,6.810,57.9,5.87,575
26,Burundi,93.6,20.6052,26.7960,90.552,764,12.300,57.7,6.26,231

In [7]:
len(Final_2)

48

In [8]:
Final_2.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,84.808333,242.988282,53.166544,389.688794,2209.229167,8.849688,60.789583,4.552500,847.583333
std,37.864382,208.411190,36.338142,306.718665,1134.428833,5.849055,7.282776,1.382764,384.444824
min,17.200000,1.076920,12.821200,0.651092,609.000000,0.885000,32.100000,1.270000,231.000000
25%,61.350000,101.630250,31.079500,175.909500,1390.000000,4.080000,57.175000,3.465000,551.500000
50%,82.050000,150.912000,44.388600,280.956000,1900.000000,8.215000,61.250000,4.875000,758.000000
75%,108.250000,388.087500,60.501250,450.765000,2857.500000,12.150000,66.125000,5.370000,1205.000000
max,208.000000,943.200000,190.710000,1279.550000,4490.000000,23.600000,73.100000,7.490000,1630.000000

In [9]:
len(Final_2[Final_2['child_mort']>=76])

28

In [10]:
New_data=Final_2[Final_2['child_mort']>=76]
New_data_1=New_data[New_data['income']<3200]
len(New_data_1)

23

In [11]:
New_data_1.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,113.743478,165.144704,41.870378,292.629174,1444.913043,7.125435,56.065217,5.463478,627.173913
std,30.255681,140.898936,23.154120,222.532254,587.515796,5.428622,6.853042,0.953232,288.989407
min,80.300000,20.605200,17.750800,90.552000,609.000000,0.885000,32.100000,3.300000,231.000000
25%,90.400000,79.379500,30.663050,170.185000,974.000000,3.420000,55.300000,5.080000,432.500000
50%,109.000000,126.885000,37.332000,248.297000,1410.000000,5.450000,57.300000,5.340000,562.000000
75%,119.500000,188.290000,46.119600,328.251000,1740.000000,10.020000,58.750000,6.010000,733.000000
max,208.000000,617.320000,129.870000,1181.700000,2690.000000,20.800000,65.900000,7.490000,1310.000000

In [12]:
New_data_1.info

<bound method DataFrame.info of                       country  child_mort   exports    health   imports  \
0                 Afghanistan        90.2   55.3000   41.9174   248.297
17                      Benin       111.0  180.4040   31.0780   281.976
25               Burkina Faso       116.0  110.4000   38.7550   170.200
26                    Burundi        93.6   20.6052   26.7960    90.552
28                   Cameroon       108.0  290.8200   67.2030   353.700
31   Central African Republic       149.0   52.6280   17.7508   118.190
32                       Chad       150.0  330.0960   40.6341   390.195
36                    Comoros        88.2  126.8850   34.6819   397.573
37           Congo, Dem. Rep.       116.0  137.2740   26.4194   165.664
40              Cote d'Ivoire       111.0  617.3200   64.6600   528.260
56                     Gambia        80.3  133.7560   31.9778   239.974
63                     Guinea       109.0  196.3440   31.9464   279.936
64              Guinea-Bissau       114.0   81.5030   46.4950   192.544
66                      Haiti       208.0  101.2860   45.7442   428.314
87                    Lesotho        99.7  460.9800  129.8700  1181.700
88                    Liberia        89.3   62.4570   38.5860   302.802
94                     Malawi        90.5  104.6520   30.2481   160.191
97                       Mali       137.0  161.4240   35.2584   248.508
106                Mozambique       101.0  131.9850   21.8299   193.578
112                     Niger       123.0   77.2560   17.9568   170.868
132              Sierra Leone       160.0   67.0320   52.2690   137.655
150                      Togo        90.3  196.1760   37.3320   279.624
155                    Uganda        81.0  101.7450   53.6095   170.170

     income  inflation  life_expec  total_fer  gdpp
0      1610      9.440        56.2       5.82   553
17     1820      0.885        61.8       5.36   758
25     1430      6.810        57.9       5.87   575
26      764     12.300        57.7       6.26   231
28     2660      1.910        57.3       5.11  1310
31      888      2.010        47.5       5.21   446
32     1930      6.390        56.5       6.59   897
36     1410      3.870        65.9       4.75   769
37      609     20.800        57.5       6.54   334
40     2690      5.390        56.3       5.27  1220
56     1660      4.300        65.5       5.71   562
63     1190     16.100        58.0       5.34   648
64     1390      2.970        55.6       5.05   547
66     1500      5.450        32.1       3.33   662
87     2380      4.150        46.5       3.30  1170
88      700      5.470        60.8       5.02   327
94     1030     12.100        53.1       5.31   459
97     1870      4.370        59.5       6.55   708
106     918      7.640        54.5       5.56   419
112     814      2.550        58.8       7.49   348
132    1220     17.200        55.0       5.20   399
150    1210      1.180        58.7       4.87   488
155    1540     10.600        56.8       6.15   595  >

In [14]:
New_data_1.shape

(23, 10)

In [16]:
New_data_1

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.3000,41.9174,248.297,1610,9.440,56.2,5.82,553
17,Benin,111.0,180.4040,31.0780,281.976,1820,0.885,61.8,5.36,758
25,Burkina Faso,116.0,110.4000,38.7550,170.200,1430,6.810,57.9,5.87,575
26,Burundi,93.6,20.6052,26.7960,90.552,764,12.300,57.7,6.26,231
28,Cameroon,108.0,290.8200,67.2030,353.700,2660,1.910,57.3,5.11,1310
31,Central African Republic,149.0,52.6280,17.7508,118.190,888,2.010,47.5,5.21,446
32,Chad,150.0,330.0960,40.6341,390.195,1930,6.390,56.5,6.59,897
36,Comoros,88.2,126.8850,34.6819,397.573,1410,3.870,65.9,4.75,769
37,"Congo, Dem. Rep.",116.0,137.2740,26.4194,165.664,609,20.800,57.5,6.54,334
40,Cote d'Ivoire,111.0,617.3200,64.6600,528.260,2690,5.390,56.3,5.27,1220
56,Gambia,80.3,133.7560,31.9778,239.974,1660,4.300,65.5,5.71,562
63,Guinea,109.0,196.3440,31.9464,279.936,1190,16.100,58.0,5.34,648
64,Guinea-Bissau,114.0,81.5030,46.4950,192.544,1390,2.970,55.6,5.05,547
66,Haiti,208.0,101.2860,45.7442,428.314,1500,5.450,32.1,3.33,662
87,Lesotho,99.7,460.9800,129.8700,1181.700,2380,4.150,46.5,3.30,1170
88,Liberia,89.3,62.4570,38.5860,302.802,700,5.470,60.8,5.02,327
94,Malawi,90.5,104.6520,30.2481,160.191,1030,12.100,53.1,5.31,459
97,Mali,137.0,161.4240,35.2584,248.508,1870,4.370,59.5,6.55,708
106,Mozambique,101.0,131.9850,21.8299,193.578,918,7.640,54.5,5.56,419
112,Niger,123.0,77.2560,17.9568,170.868,814,2.550,58.8,7.49,348
132,Sierra Leone,160.0,67.0320,52.2690,137.655,1220,17.200,55.0,5.20,399
150,Togo,90.3,196.1760,37.3320,279.624,1210,1.180,58.7,4.87,488
155,Uganda,81.0,101.7450,53.6095,170.170,1540,10.600,56.8,6.15,595

New_data_1 is the final list of countries and the ones that are in a dire need of aid.